
@{
    ViewData["Title"] = "AddMenu";
}

<div class="mt-5">
    <div class="center-block card" style="width:50rem;margin:auto">
        <div class="card-body">
            <h3>Add Today's Menu</h3>
            <hr />
            <form>
                <div class="form-group">
                    <label>Menu Description:</label>
                    <textarea class="form-control" id="menu-desc" rows="6"></textarea>
                </div>
                <input type="button" class="btn btn-success pull-right" value="Add Menu" />
            </form>
        </div>

    </div>
</div>